@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Arial, "Roboto";
    background-color: #f5f1f1;
}

.search__section{
    background-image: url(./assets/images/search_img.jpg);
}

.contact__side__content{
    background-image: url(./assets/images/contactus_bg.jpg);
}

