@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Arial, "Poppins";
    background-color: #fff;
}

.search__section__bgImage{
    background-image: url(./assets/images/DMG_img.png);
}

.contact__side__content{
    background-image: url(./assets/images/contactus_bg.jpg);
}

